<?xml version='1.0' encoding='utf-8'?>
<widget id="hn.criterio.app" version="1.3.0" versionCode="130" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Criterio App</name>
    <description>Periódico Digital con línea abierta, no partidario, ni tendencioso por razones de clase social, religiosas, raza, culturas u otros aspectos sociológicos.</description>
    <author email="yo@davidvalladares.com" href="http://www.davidvalladares.com">David Valladares</author>
    <gap:platform name="android" />
    <preference name="phonegap-version" value="cli-6.5.0" />
    <preference name="permissions" value="none" />
    <preference name="disallowOverscroll" value="true" />
    <preference name="webviewbounce" value="false" />
    <plugin name="cordova-plugin-inappbrowser" source="npm" />
    <plugin name="cordova-plugin-network-information" source="npm" />
    <plugin name="cordova-plugin-whitelist" source="npm" />
    <plugin name="cordova-plugin-splashscreen" source="npm" />
    <plugin name="cordova-plugin-device" source="npm" />
    <plugin name="cordova-plugin-statusbar" source="npm" />
    <plugin name="cordova-plugin-crosswalk-webview" source="npm" spec="2.3.0" />
    <plugin name="cordova-build-architecture" source="git" spec="https://github.com/MBuchalik/cordova-build-architecture.git#v1.0.1" />
    <allow-intent href="*" />
    <allow-navigation href="*" />
    <access origin="*" />
    <preference name="SplashScreen" value="splash" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <icon gap:platform="android" src="icon.png" />
    <icon gap:platform="android" gap:qualifier="ldpi" src="icons/icon-wp-appkit-ldpi.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="icons/icon-wp-appkit-mdpi.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="icons/icon-wp-appkit-hdpi.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="icons/icon-wp-appkit-xhdpi.png" />
    <icon gap:platform="android" gap:qualifier="xxhdpi" src="icons/icon-wp-appkit-xxhdpi.png" />
    <icon gap:platform="android" gap:qualifier="xxxhdpi" src="icons/icon-wp-appkit-xxxhdpi.png" />
    <gap:splash gap:platform="android" src="splash.9.png" />
    <gap:splash gap:platform="android" gap:qualifier="ldpi" src="splashscreens/splashscreen-wp-appkit-ldpi.9.png" />
    <gap:splash gap:platform="android" gap:qualifier="mdpi" src="splashscreens/splashscreen-wp-appkit-mdpi.9.png" />
    <gap:splash gap:platform="android" gap:qualifier="hdpi" src="splashscreens/splashscreen-wp-appkit-hdpi.9.png" />
    <gap:splash gap:platform="android" gap:qualifier="xhdpi" src="splashscreens/splashscreen-wp-appkit-xhdpi.9.png" />
    <gap:splash gap:platform="android" gap:qualifier="xxhdpi" src="splashscreens/splashscreen-wp-appkit-xxhdpi.9.png" />
    <gap:splash gap:platform="android" gap:qualifier="xxxhdpi" src="splashscreens/splashscreen-wp-appkit-xxxhdpi.9.png" />
    <plugin name="phonegap-admob" spec="~4.1.15" />
    <plugin name="cordova-plugin-customurlscheme" spec="~4.2.0">
        <variable name="URL_SCHEME" value="crtrApp" />
    </plugin>
    <plugin name="cordova-plugin-x-socialsharing" spec="~5.2.1" />
	<gap:plugin name="cordova-plugin-x-socialsharing" source="npm" />
</widget>
