<?xml version='1.0' encoding='utf-8'?>
<widget id="hn.criterio.app" version="1.0.1" versionCode="101" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Criterio App</name>
    <description>Periódico Digital con línea abierta, no partidario, ni tendencioso por razones de clase social, religiosas, raza, culturas u otros aspectos sociológicos.</description>
    <author email="yo@davidvalladares.com" href="http://www.davidvalladares.com">David Valladares</author>
    <gap:platform name="android" />
    <preference name="buildArchitecture" value="x86" />
    <preference name="xwalkMultipleApk" value="true" />
    <!--<preference name="android-build-tool" value="ant" />-->
    <preference name="phonegap-version" value="cli-6.5.0" />
    <preference name="permissions" value="none" />
    <preference name="disallowOverscroll" value="true" />
    <preference name="webviewbounce" value="false" />
    <plugin name="cordova-plugin-inappbrowser" source="npm" />
    <plugin name="cordova-plugin-network-information" source="npm" />
    <plugin name="cordova-plugin-whitelist" source="npm" />
    <plugin name="cordova-plugin-splashscreen" source="npm" />
    <plugin name="cordova-plugin-device" source="npm" />
    <plugin name="cordova-plugin-statusbar" source="npm" />
    <plugin name="cordova-plugin-crosswalk-webview" source="npm" spec="2.3.0" />
    <plugin name="cordova-build-architecture" source="git" spec="https://github.com/MBuchalik/cordova-build-architecture.git#v1.0.1" />
    <plugin name="cordova-plugin-customurlscheme" spec="4.2.0">
        <param name="URL_SCHEME" value="crtrApp" />
    </plugin>
    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />
    <preference name="SplashScreen" value="splash" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <engine name="android" spec="~6.3.0" />
    <plugin name="phonegap-admob" spec="~4.1.15" />
</widget>
