Comments on <a href="<%= TemplateTags.getPostLink(post.id) %>"><%= post.title %></a></li>
<% if(comments.length){ %>
      <ul class="media-list">
            <% _.each( comments, function( comment ){ %>
                  <li style="padding-left:<% print((comment.depth)*2) %>em">
                        <h4>
                              <%= comment.author %>&nbsp;
                              <small><%= TemplateTags.formatDate(comment.date,'d/m/Y') %></small>
                        </h4>
                        <p><%= comment.content %></p>
                  </li>
            <% }) %>
      </ul>
<% }else{ %>
      <p>No comment!</p>
<% } %>